{% extends 'gofer/base.html' %}

{% block sidebar %}
  <ul class="nav nav-tabs nav-stacked">
    {% if query %}
      <h4>Folders</h4>
	      {% if facets.fields.folder1 %}
		{% for folder1 in facets.fields.folder1 %}
		  {% if folder1.1 > 0 %}
		  <li style="font-size:0.75em;"><a href="{{ request.get_full_path }}&amp;selected_facets=folder1_exact:{{ folder1.0|urlencode }}">{{ folder1.0 }}  ({{ folder1.1 }})</a></li>
		  {% endif %}
		{% endfor %}
              {% else %}
		<p>Nothing doing</p>
              {% endif %}
	{% endif %}
{% endblock %}

{% block content %}
    <h2>Search</h2>

    <form class="form-search" method="get" action=".">
      <input type="text" name="q" class="input-medium search-query" value="{{ query }}" />
      <button type="submit" class="btn">Search</button>
    </form>
        
        {% if query %}
	  
	    
            <h3>Results</h3>
	    <p>Your search returned {{ paginator.count }} results</p>
            {% if page.has_previous or page.has_next %}
                <div class="btn-group">
                    {% if page.has_previous %}<a class="btn" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                     <button class="btn disabled">{{ page }}</button>
                    {% if page.has_next %}<a class="btn" href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}

	    <table class="table">
	      <thead>
		<tr>
		  <th>Title</th>
		  <th>Abstract</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for result in page.object_list %}
		  <tr>
		    <td><a href="/record/{{ result.object.id }}">{{ result.object.title }}</a></td>
		    <td>{{ result.object.abstract }}</td>
		    <td>{% if result.object.get_thumb %}<img src="{{ result.object.get_thumb }}" />{% endif %}</td>
		  </tr>

	     
		{% empty %}
		  <td>No results found.</td><td></td>
		{% endfor %}
	      </tbody>
	     </table>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
