{% extends 'gofer/base.html' %}


{% block content %}
    <h2>Search</h2>

    <form class="form-search" method="get" action=".">
      <input type="text" name="q" class="input-medium search-query" value="{{ query }}" />
      <button type="submit" class="btn">Search</button>
    </form>
      
        {% if query %}
            <h3>Results</h3>
	    <p>Your search returned {{ page.object_list|length }} results</p>
	    <table class="table">
	      <thead>
		<tr>
		  <th>Title</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		{% for result in page.object_list %}
		  <tr>
		    <td><a href="/record/{{ result.object.id }}">{{ result.object.title }}</a></td>
		    <td>{% if result.object.get_thumb %}<img src="{{ result.object.get_thumb }}" />{% endif %}</td>
		  </tr>

	     
		{% empty %}
		  <td>No results found.</td><td></td>
		{% endfor %}
	      </tbody>
	     </table>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
