{% extends "gofer/base.html" %}

{% block sidebar %}
<ul class="nav nav-tabs nav-stacked">
  {% if user.is_authenticated %}
<!--
    <li><a href="#">Here is option 1</a></li>
    <li><a href="#">Here is option 2</a></li>
-->
    {% if record and user.is_staff %}
    <li><a href="/admin/metadata/record/{{ record.id }}/">Edit record</a></li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

{% if record.folder1 %}
<div id="folders">
  <i class="icon-folder-open"></i> <a href="/search/?q={{ record.folder1 }}">{{ record.folder1 }}</a>{% if record.folder2 %} --> <i class="icon-folder-open"></i> <a href="/search/?q={{ record.folder2 }}">{{ record.folder2 }}</a>{% endif %}
</div>
{% endif %}


{% if record.record_status == 'r' %}
<span class="label label-info">Ready for export</span>
{% elif record.record_status == 'e' %}
<span class="label label-success">Exported</span>
{% else %}
<span class="label label-warning">Draft</span>
{% endif %}


<div id="title">
  <h3>
  {% for name in record.names.all %}
    {{ name }}
  {% endfor %}
  </h3>    
  <h1>{{ record.title }}</h1>
  {% if record.date_created or record.date_issued %}<h4>{{ record.date_created }}{{ record.date_issued }}</h4>{% endif %}
</div>

<div id="metadata">
  {% if record.get_image %}
  <a href="{{ record.get_image }}"><img width="300px" src="{{ record.get_image }}" class="img-polaroid" alt="{{ record.title }}" /></a>
  {% endif %}
  <p>{{ record.abstract }}</p>
  
  {% if record.tags.all %}
    <p>Tags:</p>
    {% for tag in record.tags.all %}
      {{ tag.name }},
    {% endfor %}
  {% endif %}
  
</div>

{% endblock %}
